body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7cf;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

h1, h2, p {
    color: #6B4226;
    text-align: center;
}

header {
    background-color: #6B4226;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5DC;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #6B4226;
}

.logo h1 {
    font-size: 1.5rem;
    color: #583500;
}

.cart {
    position: relative;
    margin-right: 20px;
}

#carritoBtn {
    background-color: #6B4226;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

#carritoCantidad {
    font-weight: bold;
}

.carrito-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #FFFFFF;
    border: 1px solid #6B4226;
    border-radius: 5px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    max-height: 400px; /* Limitar altura del carrito */
    overflow-y: auto; /* Activar scroll cuando se excede la altura */
}

.carrito-dropdown table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.carrito-dropdown th, .carrito-dropdown td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.carrito-dropdown th {
    background-color: #F5F5DC;
    color: #6B4226;
}

.carrito-dropdown td {
    color: #6B4226;
}

.carrito-item button {
    background-color: #6B4226;
    color: #FFFFFF;
    border: none;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 1rem;
}

#vaciarCarrito, #realizarCompra, #compraRealizada {
    background-color: #D9534F;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 48%;
    display: inline-block;
}

#realizarCompra, #compraRealizada {
    background-color: #28a745; /* Verde para "realizar compra" */
}

#totalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
}

#total {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#cafes, #cafesPremium {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.cafe {
    background-color: #FFFFFF;
    border: 1px solid #6B4226;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    transition: transform 0.3s ease;
}

.cafe img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.cafe h3 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cafe p {
    margin: 0;
    flex-grow: 1;
}

.cafe button {
    margin-top: auto;
    background-color: #6B4226;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.cafe button:hover {
    background-color: #5c3a1f;
}

.cafe:hover {
    transform: scale(1.05);
}

#cafesPremium .cafe {
    color: antiquewhite;
    border-color: #6B4226;
    background-color: #1a1311;
    box-shadow: 0 4px 8px rgba(110, 78, 50, 0.5);
}

#cafesPremium .cafe h3,
#cafesPremium .cafe p {
    color: antiquewhite;
}

#cafesSection h2, #cafesPremiumSection h2 {
    text-align: center;
    border: 2px dotted #6B4226;
    border-radius: 20px;
    padding: 10px;
    color: #6B4226;
    margin-bottom: 20px;
}

#mensaje {
    color: #6B4226;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

#mensajeError {
    color: #D9534F; /* Rojo para el mensaje de error */
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .carrito-dropdown {
        width: 90%;
    }

    #cafes, #cafesPremium {
        flex-direction: column;
    }

    .cafe {
        width: 100%;
    }
}

#formularioCompra form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#formularioCompra label {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    color: #3b2c1a;
}

#formularioCompra input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #3b2c1a;
}

#formularioCompra input:focus {
    outline: none;
    border-color: #6d4c41;
}

#mensajeCompra {
    text-align: center;
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.carrito-item .cantidad {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carrito-item .cantidad button {
    margin: 0 5px;
}
